$uppermost_top_color: #cc5d4c;
$content_color: #fffec7;
$black: #000;
$white: #fff;
$background_header_footer: #c7d1af;
$title_color: #5b5847;

// * {
//   padding: 0;
//   margin: 0;
// }

body {
  background: url(http://ibinextemplate.com/app/uploads/2018/05/texture-img.png) $background_header_footer;
}

.span-inside-relative {
  font-size: 10px;
  margin: 0 11px;

  img {
    padding-bottom: 3px;
  }
}

.brand:hover {
  color: $title_color;
}

.menu-about-menu-container {
  height: 0;
}

.about-menu {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  bottom: 24px;
  padding: 0 5px;

  li {
    display: inline-block;
    padding: 0 5px;

    a {
      color: #cc5d4c;
      font-weight: bolder;
      font-size: 12px;
    }
  }
}

.nav-menu {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  bottom: 14px;
  padding: 0 5px;
  // width: 50%;
  background: url(http://ibinextemplate.com/app/uploads/2018/05/texture-img.png) $background_header_footer;

  li {
    display: inline-block;
    padding: 0 5px;

    a {
      color: $black;
      padding: 3px 12px;
    }

    a:hover {
      text-decoration: none;
      background-color: $uppermost_top_color;
      border-radius: 13px;
      color: $white;
    }
  }
}

.about-menu > li > a:hover { //had to separate this to solve linting issues
  text-decoration: none;
  color: black;
}

.about-menu > li > a:active { //had to separate this to solve linting issues
  color: white;
}

.btn-book-your-stay {
  background-color: #bc5646;
  color: white;
}

.btn-book-your-stay:hover {
  color: black;
}

.mapouter {
  margin-bottom: 11px;
  border-radius: 9px;
}

// carousel styles
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

div#carouselExampleIndicators {
  position: absolute;
  bottom: 39%;
  left: 36%;
  width: 28%;
  background-color: $white;
  padding: 5px;

  .carousel-indicators {
    bottom: -44px;
  }

  .carousel-indicators-custom {
    li {
      text-indent: 0;
      margin: 0 2px;
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: #fff;
      background-color: #999;
      transition: all 0.25s ease;

      &.active,
      &:hover {
        margin: 0 2px;
        width: 10px;
        height: 10px;
        background-color: $white;
      }
    }
  }

  .carousel-item {
    img {
      width: 522px;
      height: 373px;
    }
  }

  .carousel-control-prev {
    left: -56%;
    background-color: $black;
    height: 15%;
    border-radius: 50%;
    margin: auto 0;
    width: 12%;
  }

  .carousel-control-next {
    right: -56%;
    background-color: $black;
    height: 15%;
    border-radius: 50%;
    margin: auto 0;
    width: 12%;
  }
}
// carousel styles

.relative-top {
  position: relative;
  bottom: 25px;
}

.float-right {
  float: right;
}

.padding-right-187px {
  padding-right: 187px;
}

.font-size-13px {
  font-size: 13px;
}

.padding-0-182px {
  padding: 0 182px;
}

.color-5B5847 {
  color: $title_color;
}

.color-868870 {
  color: #868870;
}

.font-oswald {
  font-family: 'Oswald', calibri, helvetica, arial, sans-serif;
}

a.brand {
  h1 {
    font-size: 3.7rem;
    margin-bottom: 42px;
    letter-spacing: -3px;
  }
}

a.brand:hover {
  text-decoration: none;
}

.border-double {
  border-top-style: double;
}

.border-radius-13px {
  border-radius: 13px;
}

.border-ridge {
  border-style: ridge;
}

div.bg-CC5D4C {
  background-color: $uppermost_top_color;
  height: 6px;
}

div.height-30percent {
  height: 30%;
}

div.height-33percent {
  height: 33%;
}

.height-27percent {
  height: 27%;
}

.height-3percent {
  height: 3%;
}

.height-12percent {
  height: 12%;
}

.height-10percent {
  height: 10%;
}

.height-16percent {
  height: 16%;
}

.height-32percent {
  height: 32%;
}

.height-287px {
  height: 287px;
}

.height-1percent {
  height: 1%;
}

.max-width-30percent {
  max-width: 30%;
}

.TA_selfserveprop {
  padding-left: 30px;
  margin-bottom: 19px;
}

.link-get-directions {
  color: #c9844f;
}

// .nav-primary {
//   margin-bottom: 287px;
// }

.link-get-directions:hover {
  color: #000;
  text-decoration: none;
}

.homepage-card {
  margin: 0 19px;
  border-radius: 10px;

  p,
  h4 {
    margin-bottom: 0;
  }
}

.panels-after-separator {
  display: inline-block;
  background: url(http://ibinextemplate.com/app/uploads/2018/05/texture-img.png) $background_header_footer;
  position: relative;
  bottom: 16px;
  padding: 0 5px;
}

.bottom-23px {
  bottom: 23px;
}

div.height-40percent {
  height: 40%;
}

.height-33percent {
  height: 33%;
}

div.width-40percent {
  width: 40%;
}

.width-80percent {
  width: 80%;
}

.bg-black {
  background-color: $black;
  height: 23px;
  opacity: 0.1;
}

.bg-FFFEC7 {
  background: url(http://ibinextemplate.com/app/uploads/2018/05/texture-img.png) $content_color;
}

.bg-C7D1AF {
  background: url(http://ibinextemplate.com/a.nav-mepp/uploads/2018/05/texture-img.png) $background_header_footer;
}

.container-fluid {
  padding: 0 !important;
}

.padding-15px {
  padding: 15px;
}

.container-trick {
  padding-left: 0;
}

.homepage-divider {
  border-top-color: $black;
}

@media screen {
  max-width: 100%;
}

@media screen and (min-width: 981px) {
  .menu {
    text-align: center;
  }

  .menu li {
    display: inline-block;
    float: none;
    margin-left: -5px;
  }

  .menu li li {
    display: block;
    text-align: left;
  }
}
